<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

      body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      div {
        text-align: center;
      }

      .logo img {
        width: 300px;
        height: auto;
      }
      .header {
        font-weight: 500;
      }
      button {
        all: unset;
        padding: 0.5rem 0.8rem;
        border-radius: 0.5rem;
        background-color: aqua;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body id="body" style="margin: 0 !important; padding: 0 !important">
    <div class="welcome-message">
      <div class="logo">
        <img src="https://files.codingninjas.in/logo1-32230.png" alt="Storefleet Logo" />
      </div>
      <h1 class="header">Welcome to StoreFleet</h1>
      <h3 class="salutation">Hello, {{name}}</h3>
      <h3 class="message">
        Thankyou for registering with StoreFleet. We're excited to have you as a
        new member of our community
      </h3>
      <div>
        <button class="get-started">Get Started</button>
      </div>
    </div>
  </body>
</html>
